<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FIREBASE_ANALYTICS_COLLECTION_DEACTIVATED</key>
	<true/>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>684367518682-vq3ojo8u4qaljsgfnftj46nfe9722urb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.684367518682-vq3ojo8u4qaljsgfnftj46nfe9722urb</string>
	<key>API_KEY</key>
	<string>AIzaSyBJ499mLwzU9_dGJGCLWT2eTbbvh92EUck</string>
	<key>GCM_SENDER_ID</key>
	<string>684367518682</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.AlwaysHustlin.ShoppingList</string>
	<key>PROJECT_ID</key>
	<string>shopping-list-390ff</string>
	<key>STORAGE_BUCKET</key>
	<string>shopping-list-390ff.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:684367518682:ios:e362481cead4a058</string>
	<key>DATABASE_URL</key>
	<string>https://shopping-list-390ff.firebaseio.com</string>
</dict>
</plist>
